<!doctype html>

<html>
<head>
	<title>CSE198 Bluetooth Sniffer</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      	google.load("visualization", "1", {packages:["corechart"]});
     	google.setOnLoadCallback(drawChart);
      	function drawChart() {
      		var data = new google.visualization.DataTable();
        	data.addColumn('number', 'X');
        	data.addColumn('number', '64:A7:69:DC:48:6A');
        	data.addColumn('number', 'BA:A8:19:DF:87:A6');
        	data.addRow([8,1, null]);
        	data.addRow([14, null, 5])
        	/*for (var i = 0; i < 500; ++i) {
            	data.addRow([Math.sin(i / 5) * 0.25, Math.cos(i / 25), null])
          	}
          	for (var i = 0; i < 500; i++) {
            	data.addRow([Math.sin(i / 25), null, Math.cos(i / 10) * 0.5]);
          	}*/

        	/*var data = google.visualization.arrayToDataTable([
          		['Time', 'piNum'],
          		[ 8,      1],
          		[ 4,      3],
          		[ 11,     2],
          		[ 4,      5],
          		[ 3,      4],
          		[ 6.5,    2]
        	]);*/

        	var options = {
         		title: 'Time vs. Location Found',
        		hAxis: {title: 'Time and Date', minValue: 24, maxValue: 0},
          		vAxis: {title: 'Pi Found On', minValue: 1, maxValue: 5},
          		legend: 'none'
        	};

        	var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
        	chart.draw(data, options);
      	}
    </script>    
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h1>Bluetooth Sniffer</h1>
			<p>Brian Lai &middot; Kenneth Nierenhausen</p>
		</div>
		<div id="chart_div" alight="centeR" style="width: 1000px; height: 500px;"></div>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
 		<div id="wrapper">
        	<div class="chart">
            	<h3>MAC Addresses Found</h3>
            	<table id="data-table" border="1" cellpadding="10" cellspacing="0">
               		<thead>
                  		<tr>
                    		<td>&nbsp;</td>
                    		<th scope="col">MAC Address</th>
                    		<th scope="col">Date Found</th>
                    		<th scope="col">Found On</th>
                  		</tr>
               		</thead>
               		<tbody>
               			<script>
               				var i = 1;
               			</script>
               			{{#each projects}}
               				<tr>
               					<script>
               						document.write("<td>" + i.toString() + "</td>");
               						i = i + 1;
               					</script>
               					<td>{{mac}}</td>
               					<td>{{time}}</td>
               					<td align="center">Pi #{{pi}}</td>
               				</tr>
               			{{/each}}
               		</tbody>
            	</table>
        	</div>
      	</div>
	<hr />

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
